[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rDeckgl"]
	path = rDeckgl
	url = https://github.com/tirizvanov/rdeckgl
[submodule "rMosaic"]
	path = rMosaic
	url = https://github.com/tirizvanov/rmosaic
